/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 62.5%;
}

body {
  background: $color-whiteish;
  box-sizing: border-box;
  color: $color-base;
  font-family: $typographic-font-family;
  font-weight: $font_body_text_weight;
  font-style: $font_body_text_style;
  font-size: 1.4rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include breakpoint("xl") {
    font-size: 1.6rem;
  }
}
