/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.related {
  margin-top: 100px;
  background-color: $background-color_0;
  font-family: $font_navigation_family;
  font-weight: $font_navigation_weight;
  font-style: $font_navigation_style;
  width: 100%;
}
.related-content {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8rem;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint("sm") {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.8rem 0;
  }

  @include breakpoint("md") {
    font-size: 1.2rem;
    height: 100px;
  }

  @include breakpoint("lg") {
    max-width: 1820px;
  }
}
.related-content-item {
  padding: 1rem;
}
