/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color_1: #222;
$color_2: #004ca3;
$color_3: #007fff;
$color_4: #555;
$color_5: #333;
$color_6: #fff;
$font_family_sans: itc-avant-garde-gothic-pro, "itc-avant-garde-gothic-pro",
  Helvetica, Arial, "Lucida Grande", sans-serif;
$font_family_serif: granville, "granville", Times, serif;
$background_color_1: transparent;
$background_color_2: #33c3f0;
$background_color_3: #1eaedb;
$background_color_4: #fff;
$border_color_1: #888;
$border_color_2: #33c3f0;
$border_color_3: #1eaedb;
$outline_color_1: transparent;
