/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// $typographic-font-family: Constantia, "Lucida Bright", Lucidabright,
//   "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
//   "Liberation Serif", Georgia, serif;

// V2 Variables
$typographic-font-family: "proxima-nova", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight-normal: 500;
$font-weight-light: 400;
$font-weight-heavy: 900;
$font-style-normal: normal;

$color-base: #3e4349;
$color-primary: #56478f;
$color-secondary: #a18dcc;
$color-tertiary: #a16eff;
$color-quad: #5762d5;

// other white
// rgb(248, 246, 241);
// other purple
// rgb(53, 50, 78);

$color-white: #fff;
$color-whiteish: #fbf9f8;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 60%);
$color-gray-bg: lighten($color-base, 79%);
$color-blackish: #292d33;
$color-transparent: transparent;

// Old variables for style
// Logo - .nav-logo
$font_logo_weight: 500;
$font_logo_style: normal;
// Navigation - .header
$font_navigation_weight: 500;
$font_navigation_style: normal;
// Headline - h1
$font_headline_weight: 500;
$font_headline_style: normal;
// Body text header - h2
$font_body_text_header_weight: 500;
$font_body_text_header_style: normal;
// Summary - h3
$font_summary_weight: 500;
$font_summary_style: normal;
// Byline - h4
$font_byline_weight: 500;
$font_byline_style: normal;
// Body text
$font_body_text_weight: 400;
$font_body_text_style: normal;
// Button
$font_button_weight: 900;
$font_button_style: normal;
