/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  transition: 0.3s;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  font-family: $typographic-font-family;
  font-weight: $font_navigation_weight;
  font-style: $font_navigation_style;
  background-color: $color-white;
  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid #e3e3e3;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 55px;
}

.header-content {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8rem;
  text-transform: uppercase;

  @include breakpoint("md") {
    font-size: 1.2rem;
    max-width: 1216px;
  }

  @include breakpoint("lg") {
    max-width: 1616px;
  }

  @include breakpoint("xl") {
    max-width: 1900px;
  }
}

.header-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint("sm") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.header-subrow {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include breakpoint("sm") {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
  }
}

.nav-logo {
  color: $color-primary !important;
  font-family: $typographic-font-family;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: 2rem;
}

.nav-link {
  color: $color-base;
  font-weight: 700;
  padding: 1rem 1rem 0 1rem;
  font-size: 1.3rem;
  line-height: 1.08em;
  letter-spacing: 0.05em;

  &:hover {
    color: $color-secondary;
  }
}

.nav-logo-link {
  padding: 0 !important;
}

.nav-logo-img {
  height: 26px;
  padding-top: calc(#{$spacing-small} * 0.75);
  padding-bottom: calc(#{$spacing-small} * 0.75);
}
