/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  transition: 0.3s;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  font-family: $typographic-font-family;
  font-weight: $font_navigation_weight;
  font-style: $font_navigation_style;
  background-color: $color-white;
  border-top: 1px solid $color-secondary;
}
// linear-gradient(90deg, #a16eff 0%, #3dcebb 100%)

.header-content {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8rem;
  text-transform: uppercase;

  @include breakpoint("md") {
    font-size: 1.2rem;
  }

  @include breakpoint("lg") {
    max-width: 1820px;
  }
}

.header-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint("sm") {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.header-subrow {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint("sm") {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
  }
}

.nav-item {
  padding: 1rem;
}

.nav-logo {
  color: $color-primary !important;
  font-family: $typographic-font-family;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: 2rem;
}

.nav-link {
  color: $color-base;
  font-weight: 700;
  padding: 1rem;

  &:hover {
    color: $color-secondary;
  }
}
