/* Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sidebar {
  position: fixed;
  right: 0px;
  top: 0;
  width: 300px;
  box-shadow: 1px 0 0 2px $border_color_2;
  min-height: 100%;
  opacity: 1 !important;
}

.sidebar-container {
  margin-top: 120px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
}

.sidebar-header {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border: none;
  padding: none !important;
}
.sidebar-header-link {
  color: var(--fi-gray);
  font-weight: 700;
}
.sidebar-header-carat {
  width: 10px;
  height: 10px;
}
.sidebar-row {
  padding: 0 2rem;
}

.sidebar-ul {
  list-style: none;
}
