/* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-family: $font_button_family;
  font-weight: $font_button_weight;
  font-style: $font_button_style;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 3px;
  cursor: pointer;
  color: $color_2;
  border: 1px solid $color_2;
  box-sizing: border-box;
  background-color: $background_color_0;
  margin-bottom: 1rem;
  &:hover {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
  &:focus {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
}
button {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: $color_2;
  text-align: center;
  font-size: 11px;
  font-family: $font_button_family;
  font-weight: $font_button_weight;
  font-style: $font_button_style;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $background_color_1;
  border-radius: 3px;
  border: 1px solid $color_2;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
  &:hover {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
  &:focus {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
}
input {
  margin-bottom: 1.5rem;
}
input[type="submit"] {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  background-color: $color_3;
  color: $color_5;
  text-align: center;
  font-size: 11px;
  font-family: $font_button_family;
  font-weight: $font_button_weight;
  font-style: $font_button_style;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  border-radius: 3px;
  border: 1px solid $color_3;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background-color: $background_color_1;
    color: $color_2;
    border: 1px solid $color_2;
    outline: 0;
  }
  &:focus {
    background-color: $background_color_1;
    color: $color_2;
    border: 1px solid $color_2;
    outline: 0;
  }
}
input[type="reset"] {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: $color_2;
  text-align: center;
  font-size: 11px;
  font-family: $font_button_family;
  font-weight: $font_button_weight;
  font-style: $font_button_style;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $background_color_1;
  border-radius: 3px;
  border: 1px solid $color_2;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
  &:focus {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
}
input[type="button"] {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  color: $color_2;
  text-align: center;
  font-size: 11px;
  font-family: $font_button_family;
  font-weight: $font_button_weight;
  font-style: $font_button_style;
  line-height: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $background_color_1;
  border-radius: 3px;
  border: 1px solid $color_2;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
  &:focus {
    background-color: $color_3;
    color: $color_5;
    border-color: $color_3;
    outline: 0;
  }
}
